.dailyCard {
  --size: 1080px;
  --color-h: 219;
  --color-s: 48%;
  --color-l: 43%;
  --color-hsl: var(--color-h), var(--color-s), var(--color-l);
  --color: hsl(var(--color-hsl));

  --color-dark-h: var(--color-h);
  --color-dark-s: calc(var(--color-s) - 10%);
  --color-dark-l: calc(var(--color-l) - 10%);
  --color-dark-hsl: var(--color-dark-h), var(--color-dark-s), var(--color-dark-l);
  --color-dark: hsl(var(--color-dark-hsl));

  --color-accent: white;

  --color-subtle: rgb(249, 249, 249);

  position: relative;
  height: var(--size);
  width: var(--size);
  color: var(--color);
}

.background>*,
.dailyCard>* {
  position: absolute;
  width: 100%;
  height: 100%;
}


.background__pattern {
  background-color: white;
  width: 100%;
  height: 100%;
}

.background__border {
  position: absolute;
  width: 100%;
  height: 100%;
}

.foreground {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  padding: var(--cell-size);

  --cell-size: calc(var(--size) / 14);
}

.foreground>* {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#month-hijri {
  grid-row: 2 / 4;
  grid-column: 2 / 5;
}

#month-miladi {
  grid-row: 3 / 5;
  grid-column: 2 / 5;
}

#days {
  grid-row: 2 / 5;
  grid-column: 5 / 6;
}

#year {
  grid-row: 5 / 6;
  grid-column: 2 / 6;
}

#month-year-separator {
  grid-row: 4 / 6;
  grid-column: 2 / 6;
}

#month-weekday-separator {
  grid-column: 6 / 8;
  grid-row: 3 / 5;
}

#weekday-ar {
  grid-row: 2 / 5;
  grid-column: 8 / 12;
}

#weekday-en {
  grid-row: 5 / 6;
  grid-column: 8 / 12;
}

#prophet {
  grid-row: 7 / 8;
  grid-column: 5 / 9;
}

#hadith {
  grid-row: 7 / 10;
  grid-column: 2 / -2;
}

#attribution {
  grid-row: 9 / 10;
  grid-column: 6 / 8;
}

#tawakkol {
  grid-column: 2 / 11;
  grid-row: 11 / 12;
}

#logo {
  grid-column: 10 / 13;
  grid-row: 10 / 13;
}

.backdrop--calendar {
  grid-row: 1 / 7;
  grid-column: 1 / -1;
}

.backdrop--hadith {
  grid-row: 6 / 11;
  grid-column: 1 / -1;
}

.backdrop--footer {
  grid-row: 10 / 13;
  grid-column: 1 / -1;
}


#month-hijri,
#month-miladi {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;

  height: calc(100% - var(--cell-size));
  top: 50%;
  translate: 0 -50%;
  padding-right: calc(var(--cell-size) * 0.33);

  font-size: 4.5rem;
  font-family: Diwani;
  white-space: nowrap;
}

#month-miladi {
  padding-bottom: 2rem;
}

#days {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  font-family: Al Jazeera;
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-accent);

  width: calc(100% - var(--cell-size) * 0.33);
  height: calc(100% - var(--cell-size));
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  background-color: var(--color);
}

#weekday-en {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;


  width: calc(100% - var(--cell-size) / 4);
  height: calc(100% - var(--cell-size) / 2);
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  color: var(--color-accent);
  background-color: var(--color);

  font-size: 1.75rem;
  font-family: Lemon Milk;
  text-transform: uppercase;
}

#year {
  position: absolute;
  display: grid;
  align-items: end;
  justify-items: center;
  justify-content: center;

  grid-template-columns: 16px 52px 32px 16px 52px;

  width: calc(100% - var(--cell-size));
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  font-size: 1.5rem;
  font-family: Al Jazeera;
  font-weight: bold;
}

#prophet,
#hadith,
#attribution {
  font-family: Tajawal;
}

#prophet {
  font-size: 2rem;
  text-align: center;
  color: hsl(var(--color-hsl), 0.8);
}

#prophet>#salawat {
  display: inline-block;
  height: 1.25em;
  width: 1.25em;
}

#attribution {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  margin-top: var(--cell-size);

  color: hsl(var(--color-hsl), 0.75);
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
}

#hadith {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: calc(var(--cell-size) * 0.6);
  margin-block: calc(var(--cell-size) * 0.6);
  height: calc(100% - var(--cell-size) * 0.6 * 2);

  direction: rtl;
  text-align: center;
  font-size: 2.65rem;
  line-height: 1.25em;
}

#month-year-separator {
  position: absolute;
  width: calc(100% - var(--cell-size));
  height: 50%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

#month-weekday-separator {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  transform: rotate(45deg);
}

#tawakkol {
  width: calc(100% - var(--cell-size) / 2);
}

#logo {
  position: absolute;
  width: 40%;
  height: 40%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  border-radius: 50%;
  background-color: hsl(var(--color-hsl), 0.1);
  outline: 5px solid hsl(var(--color-hsl), 0.075);

}

.backdrop {
  position: absolute;
  width: calc(100% - var(--cell-size) * 1.5);
  height: calc(100% - var(--cell-size) * 1.5);
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  background-color: var(--color-subtle);
}

.dailyCard :not(.backdrop) {
  z-index: 1;
}



/* SVG Styling */

.background__pattern {
  fill: hsl(var(--color-hsl), 0.1);
}

.background__border {
  fill: var(--color);
}

#tawakkol {
  fill: var(--color-dark);
}

#weekday-ar {
  fill: var(--color);
}

#prophet>#salawat {
  fill: currentColor;
}

#month-year-separator {
  fill: var(--color);
}

#month-weekday-separator {
  fill: var(--color-dark);
}

#logo {
  fill: var(--color-dark);
}